<section id="blog" class="container">
        <div class="center">
            <h2>Detail News</h2>
            <p class="lead">&nbsp;</p>
        </div>

        <div class="blog">
            <div class="row">

                
                <div class="col-md-8">
                    <div class="blog-item">
                        {if $data.image}
                        <a href="#">
                                    <img class="img-responsive img-blog" src="{$basedomain}public_assets/{$data.image}" width="100%"  alt="" />
                                </a>
                        {/if}
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta">
                                        <span id="publish_date">{$data.posted_date}</span>
                                        <span><i class="fa fa-user"></i> <a href="#"> ADMIN</a></span>
                                       
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h2>{$data.title}</h2>
                                    <p>{$data.content}</p>
                                    
                                </div>
                            </div>
                        </div><!--/.blog-item-->
                        
                    </div><!--/.col-md-8-->
                    
                    {*}
                      <aside class="col-md-4">
                    <div class="widget search">
                        <form role="form">
                                <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </form>
                    </div><!--/.search-->
                    
                
                     
                    <div class="widget archieve">
                        <h3>Archieve</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="blog_archieve">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Agustus 2014 <span class="pull-right">(97)</span></a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> September 2014 <span class="pull-right">(32)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> October 2014 <span class="pull-right">(19)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> November 2014 <span class="pull-right">(08)</a></li>
                                </ul>
                            </div>
                        </div>                     
                    </div><!--/.archieve-->
                    
                </aside>  
                {/*}

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->
