	
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" align="center">
                  Copyleft Services Portal
                </div>
                 <!-- <div class="col-sm-6">
                  <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>&nbsp;
                </div>-->
            </div>
        </div>
    </footer><!--/#footer-->
	
    <script src="{$basedomain}assets/js/jquery.js"></script>
    <script src="{$basedomain}assets/js/bootstrap.min.js"></script>
    <script src="{$basedomain}assets/js/jquery.prettyPhoto.js"></script>
    <script src="{$basedomain}assets/js/jquery.isotope.min.js"></script>
    <script src="{$basedomain}assets/js/main.js"></script>
    <script src="{$basedomain}assets/js/wow.min.js"></script>
    <script src="{$basedomain}assets/js/bootstrap-submenu.js" defer></script>


	
</body>
</html>