<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>E-Tobacco Control</title>
<link rel="stylesheet" type="text/css" href="css/head.css" />
</head>

<body>
<center>	
    <div id="linebg"></div>
    <div id="headbg"></div>
    <div id="logo"></div>
    <div id="menu">
    	<a href="#">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">News</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Contact Us</a>
    </div>
</center>
</body>
</html>
