<html>
	<body>
		<p align="center">
			<strong>PERJANJIAN KERJASAMA</strong></p>
		<p align="center">
			<strong>ANTARA</strong></p>
		<p align="center">
			<strong>PEJABAT PEMBUAT KOMITMEN BEASISWA UNGGULAN</strong></p>
		<p align="center">
			<strong>BIRO PERENCANAAN DAN KERJASAMA LUAR NEGERI</strong></p>
		<p align="center">
			<strong>KEMENTERIAN</strong><strong>PENDIDIKAN DAN KEBUDAYAAN</strong></p>
		<p align="center">
			<strong>DENGAN</strong></p>
		<p align="center">
			<strong><em>&hellip;&hellip;&hellip;&hellip;&hellip;.(Nama)</em></strong></p>
		<p align="center">
			<strong>&nbsp;(Nama Lembaga)</strong></p>
		<p align="center">
			<strong>TENTANG</strong></p>
		<p align="center">
			<strong>PENYELENGGARAAN PROGRAM BEASISWA UNGGULAN </strong></p>
		<p align="center">
			<strong>UNTUK PENELITI, PENCIPTA, PENULIS, </strong></p>
		<p align="center">
			<strong>SENIMAN, WARTAWAN, OLAHRAGAWAN, TOKOH</strong></p>
		<p align="center">
			<strong>(P3SWOT)</strong></p>
		<p align="center" style="margin-left:72.0pt;">
			Nomor: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/A2.4/LL/2013diisi oleh Biro PKLN)</p>
		<p style="margin-left:72.0pt;">
			&nbsp;</p>
		<p>
			Pada hari ini&hellip;., tanggal {$date[0]}. bulan {$date[1]}. {$date[2]}, kami yang bertandatangan di bawah ini:</p>
		<ol>
			<li>
				Nama : Yun Widiati, SH</li>
		</ol>
		<p style="margin-left: 40px;">
			NIP&nbsp;&nbsp;&nbsp; : 195906051984032001</p>
		<p style="margin-left: 40px;">
			Jabatan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Pejabat Pembuat Komitmen Beasiswa Unggulan KementerianPendidikan dan Kebudayaan</p>
		<p style="margin-left: 40px;">
			Alamat&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Jalan Jenderal Sudirman Senayan, Jakarta 10270</p>
		<p style="margin-left: 40px;">
			dalam hal ini bertindak untuk dan atas nama Biro Perencanaan dan Kerjasama Luar Negeri Kementerian Pendidikan dan Kebudayaan, selanjutnya disebut <strong>PIHAK PERTAMA</strong>.</p>
		<ol start="2">
			<li>
				Nama : {$pendaftar->nama_lengkap}</li>
		</ol>
		<p style="margin-left: 40px;">
			NIP :</p>
		<p style="margin-left: 40px;">
			Jabatan : </p>
		<p style="margin-left: 40px;">
			Alamat :</p>
		<p style="margin-left: 40px;">
			Selanjutnya disebut <strong>PIHAK KEDUA</strong></p>
		<p>
			<strong>PIHAK PERTAMA</strong>dan <strong>PIHAK KEDUA</strong> bersepakat untuk mengadakan perjanjian kerjasama dengan <strong>PIHAK KEDUA</strong> dalam melaksanakan Program Beasiswa Unggulan P3SWOT, berdasarkan atas pemikiran:</p>
		<ol>
			<li>
				bahwa dalam rangka peningkatan mutu pendidikan dan pengembangan potensi sumber daya daerah serta menjaring &nbsp;SDM yang memiliki pemahaman kebangsaan secara komprehensif, integritas dan kredibilitas tinggi, berkepribadian unggul, moderat, serta peduli terhadap kehidupan bangsa dan negara juga memiliki kompetensi yang unggul dalam bidangnya, <strong>PIHAK PERTAMA</strong> bermaksud memberikan kesempatan melalui beasiswa unggulan sebagai peneliti, penulis, pencipta, seniman, wartawan, olahragawan, dan tokoh</li>
			<li>
				bahwa <strong>PIHAK KEDUA</strong> bersedia untuk melaksanakan kegiatan dimaksud pada point 1 sesuai dengan bidang keahliannya</li>
		</ol>
		<p>
			Adapun ketentuan-ketentuan yang mengatur perjanjian kerjasama ini adalah sebagai berikut:</p>
		<p align="center">
			<strong>PASAL 1</strong></p>
		<p align="center">
			<strong>KETENTUAN UMUM</strong></p>
		<p>
			Dalam perjanjian kerjasama ini yang dimaksud dengan:</p>
		<ol>
			<li>
				Beasiswa unggulan adalah suatu program pemerintah yang diselenggarakan oleh Biro Perencanaan dan Kerjasama Luar Negeri, Sekretariat Jenderal, Kemdikbudguna menjaring insan Indonesia yang cerdas dan kompetitif yang unggul di bidangnya</li>
			<li>
				Peneliti, Pencipta, Penulis, Seniman, Wartawan, olahragawan dan Tokoh adalah orang atau beberapa orang yang memenuhi syarat sebagai pelaksana kegiatan Beasiswa unggulan.</li>
		</ol>
		<p align="center">
			<strong>PASAL 2</strong></p>
		<p align="center">
			<strong>TUJUAN</strong></p>
		<p align="center">
			&nbsp;</p>
		<p>
			Tujuan penyelenggaraan program ini adalah menjaring berbagai potensi yang ada dalam masyarakat guna meningkatkan kualitas sumber daya manusia Indonesia.&nbsp;</p>
		<p align="center">
			&nbsp;</p>
		<p align="center">
			<strong>PASAL 3</strong></p>
		<p align="center">
			<strong>LINGKUP PEKERJAAN</strong></p>
		<ol>
			<li>
				Melaksanakan Penelitian, Penciptaan, Penulisan, Pembuatan Karya Seni, dan atau menghasilkan Prestasi pada bidangnya.</li>
			<li>
				<strong>PIHAK KEDUA </strong>dalam melaksanakan pekerjaan tersebut pada pasal 1 (satu), diwajibkan menyusun Program Beasiswa Unggulan P3SWOT mulai dari perencanaan, pelaksanaan sampai dengan pelaporan kegiatan</li>
			<li>
				Program Beasiswa Unggulan P3SWOT dilaksanakan sampai dengan program selesai</li>
		</ol>
		<p align="center">
			<strong>PASAL 4</strong></p>
		<p align="center">
			<strong>JANGKA WAKTU </strong></p>
		<p align="center">
			&nbsp;</p>
		<p>
			Jangka waktu pelaksanaan &nbsp;Program Beasiswa Unggulan P3SWOT adalah maksimal6 (enam) &nbsp;bulan.</p>
		<p align="center">
			&nbsp;</p>
		<p align="center">
			<strong>PASAL 5</strong></p>
		<p style="text-align: center;">
			<strong>PENDANAAN PROGRAM BEASISWA UNGGULAN P3SWOT</strong></p>
		<ol>
			<li>
				<strong>PIHAK PERTAMA</strong>bertanggung jawab membiayai Program Beasiswa Unggulan P3SWOT sebesar Rp {$pendaftar->anggaran}.</li>
			<li>
				<strong>PIHAK KEDUA </strong>bertanggung jawab dan berkewajiban terhadap segala hal yang berkaitan dengan pajak sehubungan pelaksanaan perjanjian ini yang &nbsp;dilaksanakan sesuai dengan ketentuan perpajakan yang berlaku</li>
			<li>
				Pembiayaan Beasiswa Unggulan dibebankan pada DIPA Sekretariat Jenderal KEMDIKBUD&nbsp;tahun 2013Nomor: 023.01.1.690271/2013tanggal 17April2013</li>
		</ol>
		<p align="center">
			<strong>PASAL 6</strong></p>
		<p align="center">
			<strong>PEMBAYARAN BEASISWA UNGGULAN P3SWOT</strong></p>
		<p align="center">
			&nbsp;</p>
		<p>
			Ketentuan pembayaran beasiswa dari <strong>PIHAK PERTAMA</strong> ke <strong>PIHAK KEDUA</strong> adalah sebagai berikut:</p>
		<ol>
			<li>
				Pembayaran <strong>PIHAK PERTAMA</strong>kepada &nbsp;<strong>PIHAK KEDUA </strong>&nbsp;melalui mekanisme pembayaran langsung (LS) ke rekening:&nbsp; (<em>rekening </em><em>pribadi</em>)</li>
		</ol>
		<p style="margin-left: 40px;">
			Nama : {$nama_rek}</p>
		<p style="margin-left: 40px;">
			Nomor Rekening : {$no_rek}</p>
		<p style="margin-left: 40px;">
			Bank : {$bank}</p>
		<ol start="2">
			<li>
				Ketentuan dan tata cara penarikan, penyaluran dan pertanggungjawaban keuangan tunduk pada Peraturan Perundang-undangan.</li>
		</ol>
		<p align="center">
			<strong>PASAL 7</strong></p>
		<p align="center">
			<strong>PELAPORAN</strong></p>
		<p align="center">
			&nbsp;</p>
		<p style="margin-left:18.0pt;">
			<strong>PIHAK KEDUA</strong>berkewajiban untuk melaporkan hasil kajian, penulisan, penciptaan, karya, kunjungan dan lainnya &nbsp;kepada <strong>PIHAK PERTAMA</strong> selambat-lambatnya 30 (tiga puluh) hari kerja setelah kegiatan &nbsp;berakhir.</p>
		<p align="center">
			&nbsp;</p>
		<p align="center">
			<strong>PASAL 8</strong></p>
		<p style="text-align: center;">
			<strong>HAK DAN KEWAJIBAN</strong></p>
		<ol>
			<li>
				<strong>PIHAK PERTAMA</strong> berhak untuk:
				<ol type="a">
					<li>
						Menerima laporan secara tertulis mengenai hasil kajian, penulisan, penciptaan, karya, kunjungan dan lainnyaselambat-lambatnya 30 (tiga puluh) hari kerja setelah berakhir.</li>
					<li>
						Memberikan teguran secara lisan dan atau tulisan kepada <strong>PIHAK KEDUA</strong> selaku pelaksana kegiatan Program &nbsp;Beasiswa Unggulan P3SWOT &nbsp;jika terdapat hal-hal yang bertentangan dengan ketentuan yang telah disepakati dalam kontrak perjanjian kerja ini</li>
				</ol>
			</li>
			<li>
				<strong><strong>PIHAK <strong>KEDUA </strong></strong></strong>berhak untuk:
				<ol type="a">
					<li>
						Melakukan kegiatan kajian, penulisan, penciptaan, karya, kunjungan dan lainnya sesuai dengan peraturan perundang-undangan</li>
					<li>
						Menerima secara keseluruhan dana Beasiswa Unggulan P3SWOT &nbsp;&nbsp;dari <strong>PIHAK PERTAMA</strong> sebagaimana dimaksud dalam pasal 5 dan 6 perjanjian ini.</li>
				</ol>
			</li>
			<li>
				<strong><strong>PIHAK <strong>PERTAMA </strong></strong></strong>berkewajiban:
				<ol type="a">
					<li>
						Menerbitkan Surat Keputusan Penerima Beasiswa Unggulan P3SWOT</li>
					<li>
						Membayar &nbsp;dana Beasiswa kepada &nbsp;<strong>PIHAK KEDUA</strong> sebagaimana dimaksud pasal 5 dan dilaksanakan sesuai tata cara pembayaran yang diatur dalam pasal 6 perjanjian ini.</li>
				</ol>
			</li>
			<li>
				<strong><strong>PIHAK KEDUA</strong></strong><strong><strong><strong> </strong></strong></strong>berkewajiban:
				<ol type="a">
					<li>
						Melaksanakan kegiatan kajian, penulisan, penciptaan, karya, dan lainnya sesuai dengan peraturan yang berlaku</li>
					<li>
						Menyediakan prasarana yang memadai untuk kebutuhan kegiatan ini</li>
					<li>
						Memberikan laporan kegiatan kajian, penulisan, penciptaan, karya, kunjungan dan lainnya kepada <strong>PIHAK PERTAMA</strong> &nbsp;selambat-lambatnya 30 (tiga puluh) hari kerja setelah berakhir.</li>
				</ol>
			</li>
		</ol>
		<p align="center" style="margin-left:20.0pt;">
			<strong>PASAL 9</strong></p>
		<p align="center" style="margin-left:20.0pt;">
			<strong>SANKSI DAN DENDA</strong></p>
		<ol>
			<li>
				Jika <strong>PIHAK KEDUA</strong> tidak memenuhi kewajibannya sebagaimana tercantum dalam Pasal 8 Ayat (4) perjanjian ini, maka <strong>PIHAK PERTAMA</strong> berhak meminta kembali seluruh dana Beasiswa yang telah diterima<strong>PIHAK KEDUA</strong>.</li>
			<li>
				Jika <strong>PIHAK PERTAMA</strong> tidak memenuhi kewajibannya sebagaimana tercantum dalam Pasal 8 Ayat (3) perjanjian ini, maka <strong>PIHAK KEDUA</strong> berhak menuntut ganti rugi biaya kegiatan&nbsp; kajian, penulisan, penciptaan, karya, dan lainnya sesuai dengan perjanjian yang disepakati.</li>
			<li>
				Sanksi dan denda seperti yang dimaksud dalam Pasal 10 ini tidak berlaku jika terjadi penundaan atau keterlambatan pelaksanaan pekerjaan sebagai akibat dari keadaan memaksa (<em>force majeure</em>).</li>
		</ol>
		<p align="center">
			<strong>PASAL 10</strong></p>
		<p align="center">
			<strong><em>FORCE MAJEURE</em></strong></p>
		<p align="center">
			&nbsp;</p>
		<ol>
			<li>
				Keadaan memaksa (<em>force majeure</em>) adalah keadaan yang terjadi di luar kekuasaan <strong>PIHAK PERTAMA</strong> dan <strong>PIHAK KEDUA</strong> yang mengakibatkan <strong>PIHAK PERTAMA</strong> dan <strong>PIHAK KEDUA</strong> tidak dapat memenuhi kewajiban yang telah ditetapkan dalam perjanjian kerjasama ini.</li>
			<li>
				<strong>PIHAK PERTAMA</strong>dan <strong>PIHAK KEDUA</strong> sepakat untuk dapat menunda atau membebaskan kewajibannya masing-masing bila terjadi hal-hal di luar kemampuan manusia (<em>force majeure</em>) dan harus memberitahukan kepada pihak lain secara tertulis selambat-lambatnya 1 (satu) bulan setelah terjadinya <em>force majeure</em> dan dibuktikan dengan keterangan pejabat yang berwenang.</li>
			<li>
				Yang termasuk <em>Force majeure</em> yaitu keadaan akibat bencana alam seperti banjir bandang, gempa bumi, gunung meletus, dan atau perang yang tidak memungkinkan kontrak perjanjian kerja ini dilaksanakan oleh kedua belah pihak.</li>
		</ol>
		<p align="center">
			&nbsp;</p>
		<p align="center">
			<strong>PASAL 11</strong></p>
		<p align="center">
			<strong>PERSELISIHAN</strong></p>
		<p align="center">
			&nbsp;</p>
		<p>
			Jika di kemudian hari terjadi perselisihan yang bersumber dari perjanjian kerjasama ini, maka <strong>PIHAK PERTAMA</strong> dan <strong>PIHAK KEDUA</strong> sepakat untuk menyelesaikannya secara musyarawah untuk mufakat berdasarkan azaz kekeluargaan.</p>
		<p>
			&nbsp;</p>
		<p align="center">
			<strong>PASAL 12</strong></p>
		<p align="center">
			<strong>LAIN-LAIN</strong></p>
		<p align="center">
			&nbsp;</p>
		<p>
			Hal-hal yang bersifat melengkapi dan belum tercantum dalam perjanjian kerjasama ini akan dibuatkan Addendum tersendiri yang melekat dan menjadi bagian yang tidak terpisahkan dengan perjanjian kerjasama ini.</p>
		<p>
			&nbsp;</p>
		<p align="center">
			<strong>PASAL 13</strong></p>
		<p align="center">
			<strong>PENUTUP</strong></p>
		<ol>
			<li>
				Perjanjian kerjasama ini dianggap sah, berlaku dan mengikat kedua belah pihak.</li>
			<li>
				Perjanjian kerjasama ini dibuat rangkap 2 (dua) yang dibubuhi meterai yang cukup menurut peraturan yang berlaku dan masing-masing pihak menerima 1 (satu) rangkap yang asli.</li>
		</ol>
		<table border="0" cellpadding="0" cellspacing="0" style="width:644px;" width="644">
			<tbody>
				<tr>
					<td style="width:312px;height:129px;">
						<p align="center">
							<strong>PIHAK PERTAMA</strong></p>
						<p align="center">
							&nbsp;</p>
						<p align="center">
							&nbsp;</p>
						<p align="center">
							&nbsp;</p>
						<p align="center">
							&nbsp;</p>
						<p align="center">
							<strong><u>Yun Widiati, SH</u></strong></p>
						<p align="center">
							NIP: 195906051984032001</p>
					</td>
					<td style="width:332px;height:129px;">
						<p>
							<strong>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P</strong><strong>IHAK KEDUA</strong></p>
						<p align="center">
							&nbsp;</p>
						<p align="center">
							&nbsp;</p>
						<p align="center">
							&nbsp;</p>
						<p align="center">
							&nbsp;</p>
						<p align="center">
							<strong><u>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</u></strong></p>
						<p align="center">
							<strong>NIP: </strong><strong>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</strong></p>
					</td>
				</tr>
				<tr>
					<td style="width:312px;">
						<p align="right">
							&nbsp;</p>
					</td>
					<td style="width:332px;">
						<p>
							&nbsp;</p>
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			&nbsp;</p>
		<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:332px;" width="332">
			<tbody>
				<tr>
					<td style="width:332px;">
						<p align="center">
							<strong>Mengetahui: </strong></p>
						<p align="center">
							<strong><em>Pimpinan Lembaga &nbsp;</em></strong></p>
						<p align="center">
							&nbsp;</p>
						<p align="center">
							&nbsp;</p>
						<p>
							&nbsp;</p>
						<p align="center">
							<u>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</u></p>
						<p align="center">
							NIP: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="clear:both;">
			&nbsp;</div>
		<div style="clear:both;">
			<p style="margin-left:20.0pt;">
				NB:</p>
			<ol>
				<li>
					Dibuat rangkap dua dengan materai silang (Rp. 6.000), salah satu materai di Pihak Pertama (Rangkap pertama) dan salah satu materai di Pihak Kedua (rangkap kedua);</li>
				<li>
					Mohon memakai kertas A4;</li>
				<li>
					Warna kuning akan diisi oleh Biro PKLN dengan jumlah rupiah sesuai dengan yang telah ditentukan;</li>
				<li>
					Mohon tidak melampirkan halaman ini pada kontrak</li>
				<li>
					Dokumen yang diberikan bersama kontrak ini adalah:
					<ol type="a">
						<li>
							Kuitansi yang sdh diisi;</li>
						<li>
							Fotocopy halaman depan rekening yang jelas (dapat dibaca);</li>
					</ol>
				</li>
			</ol>
			<p style="margin-left:45.0pt;">
				&nbsp;</p>
		</div>
		<p align="center" style="margin-left:20.0pt;">
			&nbsp;</p></body>
</html>
