
<div id="sidebar-wrapper" class="collapse sidebar-collapse">
	
	<div id="search">
		<form>
			<input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

			<button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
		</form>		
	</div> <!-- #search -->

	<nav id="sidebar">		
		
		<ul id="main-nav" class="open-active">			
			
			
			<li class="dropdown active">
				<a href="javascript:;">
					<i class="fa fa-file-text"></i>
					Article 
					<span class="caret"></span>
				</a>				
				<ul class="sub-nav">
					<li>
						<a href="{$basedomain}article/addarticle">
							<i class="fa fa-plus"></i> 
							Add New Article
						</a>
					</li>
					<li>
						<a href="{$basedomain}home">
							<i class="fa fa-list-alt"></i> 
							Article List
						</a>
					</li>
					<li>
						<a href="{$basedomain}article/profil">
							<i class="fa fa-list-alt"></i> 
							Profile
						</a>
					</li>
					<li>
						<a href="{$basedomain}article/kontak">
							<i class="fa fa-list-alt"></i> 
							Kontak
						</a>
					</li>
				</ul>
			</li>
			
			<li class="dropdown">
				<a href="javascript:;">
					<i class="fa fa-user"></i>
					User Management
					<span class="caret"></span>
				</a>				
				<ul class="sub-nav">
					<li>
						<a href="{$basedomain}user/add">
							<i class="fa fa-plus"></i> 
							Tambah User
						</a>
					</li>
					<li>
						<a href="{$basedomain}user">
							<i class="fa fa-list"></i> 
							List User
						</a>
					<li>
						
				</ul>
			</li>	
			

			<li class="dropdown">
				<a href="{$basedomain}evaluasi">
					<i class="fa fa-check"></i>
					Evaluasi
					<span class="caret"></span>
				</a>
				
				<ul class="sub-nav">
					<li>
						<a href="{$basedomain}evaluasi">
							<i class="fa fa-list"></i> 
							Evaluasi Label
						</a>
					</li>
					<li>
						<a href="{$basedomain}evaluasi/iklanmlr">
							<i class="fa fa-list"></i> 
							Evaluasi Iklan MLR
						</a>
					<li>
					<li>
						<a href="{$basedomain}evaluasi/iklantv">
							<i class="fa fa-list"></i> 
							Evaluasi Iklan TV
						</a>
					<li>
					<li>
						<a href="{$basedomain}evaluasi/iklanphw">
							<i class="fa fa-list"></i> 
							Evaluasi PHW
						</a>
					<li>	
				</ul>				
			</li>	
			<li class="">
				<a href="{$basedomain}pelaporan">
					<i class="fa fa-folder"></i>
					Pelaporan Industri
				</a>				
			</li>	

			<li class="">
				<a href="{$basedomain}import">
					<i class="fa fa-folder"></i>
					Import Data XLS
				</a>				
			</li>
		</ul>
				
	</nav> <!-- #sidebar -->

</div> <!-- /#sidebar-wrapper -->